@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style> 
    .btn-primary {
        margin-top: 30px;        
    }

.home-img {
    width:50%;
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to the Church of Jesus Christ</h1>
    <img src="lds.jfif" class="home-img">
    <div>

    <a href="/Sacraments" class="btn btn-primary">See the sacrament plans</a>
</div>
    <br>
    </div>
